/* ===================== SELECT ===================== */
.select__wrapper {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  color: var(--color-background);
}

.select__label {
  opacity: 0.75;
}

.select__button {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-foreground);
  border: none;
  border-radius: var(--radius);
  line-height: 1.4;
  padding: 0.8rem 1.2rem;
  font-size: inherit;
  text-align: left;
  color: inherit;
  z-index: 1;
}

.select {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.select svg {
  color: inherit;
  transition: transform 0.5s ease;
}

.select svg.opened {
  transform: rotate(-180deg);
}

.select__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  user-select: none;
  background-color: rebeccapurple;
}

.select__list {
  user-select: none;
  position: absolute;
  margin: 0;
  padding-left: 0;
  width: 100%;
  background-color: var(--color-foreground);
  border-radius: var(--radius);
  font-size: 0.9rem;
}

.select__list.top {
  bottom: 100%;
  margin-bottom: 1px;
}

.select__list.right {
  left: 100%;
  margin-left: 1px;
}

.select__list.bottom {
  top: 100%;
  margin-top: 1px;
}

.select__list.left {
  right: 100%;
  margin-right: 1px;
}

.select__option {
  list-style-type: none;
  padding: 0.75rem 1rem;
  cursor: pointer;
  line-height: 1.4;
}

.select__option.disabled {
  cursor: initial;
  color: var(--color-muted-foreground);
}

.select__option:not(:last-child) {
  border-bottom: 1px solid var(--color-border);
}

.select__option:first-child {
  padding-top: 1rem;
}
.select__option:last-child {
  padding-bottom: 1rem;
}

/* ===================== Round BUTTON ===================== */
.round-button {
  padding: 1.5rem;
  border-radius: 50%;
  border: none;
  position: relative;
  background-color: var(--color-foreground);
  color: var(--color-background);
}

.round-button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.round-button:active svg {
  transform: translate(-50%, -50%) scale(1.1);
}

.round-button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  fill: none;
  stroke: currentColor;
}
