.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

.page__content {
  position: relative;
  z-index: 1;
}

.page__content--fixed {
  min-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
@media (min-width: 1500px) {
  .page__content--fixed {
    min-width: 1460px;
    max-width: 1460px;
  }
}

.page__content--full {
  width: 100%;
  overflow-y: auto;
}

.page__footer {
  border-top: 1px solid var(--color-border);
  margin-top: auto;

  padding: 0.25rem 0.5rem;
  text-align: center;
  color: var(--color-muted-foreground);
}

.page__header--wrapper {
  border-bottom: 1px solid var(--color-border);
}

.page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.page__header--controls {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}

.logo {
  display: inline-block;
  color: var(--color-secondary-foreground);
  font-size: 1.25rem;
  font-weight: 800;
  text-decoration: none;
}

.navigation__wrapper {
  display: flex;
  gap: 1rem;
}

.navigation__link {
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}

.navigation__link--active::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 2px;
  background-color: var(--color-primary);
}
