.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

.page__content {
  position: relative;
}

.page__content--fixed {
  min-width: 100%;
  margin: 0 auto;
  padding: 5.5rem 1rem 1rem;
}
@media (min-width: 1500px) {
  .page__content--fixed {
    min-width: 1460px;
    max-width: 1460px;
  }
}

.page__footer {
  border-top: 1px solid var(--color-border);
  margin-top: auto;

  padding: 0.25rem 0.5rem;
  text-align: center;
  color: var(--color-muted-foreground);
}

.page__header--container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 99;
  width: 100%;
  user-select: none;
  pointer-events: none;
}

.page__header--container button,
.page__header--container li,
.page__header--container a {
  pointer-events: auto;
}

.page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 1rem 1rem 5rem;
  flex-grow: 1;
  transform: translateY(-150%);
  transition: 0.5s transform ease;
  background-color: var(--color-popup);
  width: 100%;
}
@media (max-width: 1200px) {
  .page__header {
    flex-direction: column-reverse;
    height: 100%;
  }
}

.show.page__header {
  transform: translateY(0);
}

.page__header--controls {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}
@media (max-width: 1200px) {
  .page__header--controls {
    margin-left: auto;
  }
}

.navigation__wrapper {
  display: flex;
  gap: 3rem;
}
@media (min-width: 1201px) {
  .navigation__wrapper {
    margin-left: 2rem;
  }
}

@media (max-width: 1200px) {
  .navigation__wrapper {
    gap: 2rem;
    flex-direction: column;
    margin: auto;
    align-items: start;
    transform: translateX(-2rem);
  }
}

.navigation__link {
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}

.navigation__link--active::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 2px;
  background-color: var(--color-primary);
}

/* ===================== HAMBURGER ===================== */
.header-toggle {
  position: absolute;
  left: 1rem;
  top: 1rem;
  z-index: 1;
}

.header-toggle svg path {
  transition: ease 0.5s;
  stroke-width: 2px;
}

.header-toggle .top {
  stroke-dasharray: 20 50;
  stroke-dashoffset: 0;
}
.header-toggle .active .top {
  stroke-dasharray: 40;
  stroke-dashoffset: -36;
}

.header-toggle .middle {
  stroke-dasharray: 12 16;
  stroke-dashoffset: 0;
}
.header-toggle .active .middle {
  stroke-dasharray: 12 20;
  stroke-dashoffset: 12;
}

.header-toggle .bottom {
  stroke-dasharray: 18 52;
  stroke-dashoffset: 0;
}
.header-toggle .active .bottom {
  stroke-dasharray: 40;
  stroke-dashoffset: -36;
}

/* ===================== DAY/NIGHT ===================== */

.theme-switcher path {
  transition: 0.5s ease;
  stroke-linecap: round;
  stroke-width: 2px;
}

.theme-switcher .line-1 {
  stroke-dasharray: 1 24;
}
.theme-switcher .line-2 {
  stroke-dasharray: 1 26.4;
}

.theme-switcher .light .semicircle {
  stroke-dasharray: 0 50;
  stroke-dashoffset: 5;
}

.theme-switcher .light .circle {
  stroke-dasharray: 60 25;
  stroke-dashoffset: 0;
}

.theme-switcher .dark .line-1 {
  stroke-dasharray: 0 50 5;
  stroke-dashoffset: 5;
}

.theme-switcher .dark .line-2 {
  stroke-dasharray: 0 50 5;
  stroke-dashoffset: 5;
}

.theme-switcher .dark .semicircle {
  stroke-dasharray: 50;
  stroke-dashoffset: 5;
}

.theme-switcher .dark .circle {
  stroke-dasharray: 34 25;
  stroke-dashoffset: 42;
}