.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

.page__content {
  position: relative;
}

.page__content--fixed {
  min-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
@media (min-width: 1500px) {
  .page__content--fixed {
    min-width: 1460px;
    max-width: 1460px;
  }
}

.page__content--full {
  width: 100%;
  overflow-y: auto;
}

.page__footer {
  border-top: 1px solid var(--color-border);
  margin-top: auto;

  padding: 0.25rem 0.5rem;
  text-align: center;
  color: var(--color-muted-foreground);
}

.page__header--container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 1rem 1rem 5rem;
  flex-grow: 1;
  transform: translateY(-150%);
  transition: 0.5s transform ease;
  background-color: var(--color-popup);
  pointer-events: none;
  width: 100%;
}

.show.page__header {
  transform: translateY(0);
  pointer-events: all;
}

.page__header--controls {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}

.navigation__wrapper {
  display: flex;
  gap: 3rem;
}
@media (max-width: 1200px) {
  .navigation__wrapper {
    order: 10;
  }
}

.navigation__link {
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}

.navigation__link--active::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 2px;
  background-color: var(--color-primary);
}
