.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

.page__content {
  position: relative;
}

.page__content--fixed {
  min-width: 100%;
  margin: 0 auto;
  padding: 5.5rem 1rem 1rem;
}
@media (min-width: 1500px) {
  .page__content--fixed {
    min-width: 1460px;
    max-width: 1460px;
  }
}

.page__footer {
  border-top: 1px solid var(--color-border);
  margin-top: auto;

  padding: 0.25rem 0.5rem;
  text-align: center;
  color: var(--color-muted-foreground);
}

.page__header--container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 99;
  width: 100%;
  user-select: none;
  pointer-events: none;
}

.page__header--container button,
.page__header--container li,
.page__header--container a {
  pointer-events: auto;
}

.page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 1rem 1rem 5rem;
  flex-grow: 1;
  transform: translateY(-150%);
  transition: 0.5s transform ease;
  background-color: var(--color-popup);
  width: 100%;
}
@media (max-width: 1200px) {
  .page__header {
    flex-direction: column-reverse;
    height: 100%;
  }
}

.show.page__header {
  transform: translateY(0);
}

.page__header--controls {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}
@media (max-width: 1200px) {
  .page__header--controls {
    margin-left: auto;
  }
}

.navigation__wrapper {
  display: flex;
  gap: 3rem;
}
@media (min-width: 1201px) {
  .navigation__wrapper {
    margin-left: 2rem;
  }
}

@media (max-width: 1200px) {
  .navigation__wrapper {
    gap: 2rem;
    flex-direction: column;
    margin: auto;
    align-items: start;
    transform: translateX(-2rem);
  }
}

.navigation__link {
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}

.navigation__link--active::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 2px;
  background-color: var(--color-primary);
}
