.map__wrapper {
  background: #1e37996e;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.map__spinner--wapper {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 50vh;
}

.map__spinner {
  position: relative;
  width: 5rem;
  height: 5rem;
}
.map__spinner:before {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 100%;
  width: 4px;
  background: rgb(255, 215, 0);
  left: 50%;
  top: 50%;
}
.map__spinner:after {
  content: '';
  position: absolute;
  left: 0.2em;
  bottom: 0.18em;
  width: 1em;
  height: 1em;
  background-color: rgb(0, 87, 183);
  border-radius: 15%;
  animation: rollingRock 2.5s cubic-bezier(0.79, 0, 0.47, 0.97) infinite;
}
@keyframes rollingRock {
  0% {
    transform: translate(0, -1rem) rotate(-45deg);
  }
  5% {
    transform: translate(0, -1rem) rotate(-50deg);
  }
  20% {
    transform: translate(1rem, -2rem) rotate(47deg);
  }
  25% {
    transform: translate(1rem, -2rem) rotate(45deg);
  }
  30% {
    transform: translate(1rem, -2rem) rotate(40deg);
  }
  45% {
    transform: translate(2rem, -3rem) rotate(137deg);
  }
  50% {
    transform: translate(2rem, -3rem) rotate(135deg);
  }
  55% {
    transform: translate(2rem, -3rem) rotate(130deg);
  }
  70% {
    transform: translate(3rem, -4rem) rotate(217deg);
  }
  75% {
    transform: translate(3rem, -4rem) rotate(220deg);
  }
  100% {
    transform: translate(0, -1rem) rotate(-225deg);
  }
}

.map__controls {
  display: grid;
  height: 100%;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  gap: 1rem;
  padding: 6rem 1rem 1rem;
  grid-template-areas:
    'toolbar empty'
    'timeline timeline';
  pointer-events: none;
}

.map__controls--toolbar {
  grid-area: toolbar;
  background-color: rgba(0,0,0,.5);
  pointer-events: auto;
}
.map__controls--timeline {
  grid-area: timeline;
  pointer-events: auto;
}
