.timeline-controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem 1rem;
}

.timeline-controls__top-row {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1rem;
}

.timeline-controls__btn {

}

.timeline-slider__current {
  padding: 1rem;
  border-radius: 2rem;
  background-color: var(--color-foreground);
  color: var(--color-background);
  min-width: 10rem;
  text-align: center;
}

.timeline-controls__years {
  display: flex;
  gap: 1rem;
  align-items: center;
  user-select: none;
}

.timeline-controls__btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.timeline-slider {
  display: flex;
  flex: 1;
  max-width: 100%;
  background-color: black;
}

.timeline-slider__input {
  height: 6px;
  cursor: pointer;
  width: 100%;
}

.timeline-slider__label {
  font-size: 12px;
  color: #a0aec0;
  min-width: 80px;
}

.timeline-slider__label--start {
  text-align: right;
}

.range__wrapper {
  width: 100%;
  overflow: auto;
  background-color: color-mix(in srgb, var(--color-foreground) 25%, var(--color-foreground) 50%);
  color: var(--color-background);
  border-radius: 0;
  padding: .25rem 1rem;
}

.range__wrapper svg {
  max-width: 100%;
  vertical-align: bottom;
  height: auto;
}
